$headerBackground : #000000;
$bannerGradient: linear-gradient(90deg, rgba(228,228,216,1) 0%, rgba(224,224,213,1) 29%, rgba(243,254,236,1) 42%, rgba(183,228,186,1) 100%);;
$bannerBaseBackground : rgb(228,228,216);
$bankFont:2rem;
// Utility
.font-light {
    font-weight: 200;
  }
  .font-bold {
    font-weight: bold;
  }
  
  .headings {
    font-size: 3.1rem;
    font-weight: bolder;
    font-family: "poppins";
    font-weight: bolder;
  }
  .text-center {
    text-align: center;
  }
  .btn {
    color: white;
    background-color: black;
    border-radius: 4px;
  }